/*Header start*/
body{
margin: 0;
}
header{
	background-color: #121B2A;
	padding: 10px 0;
}
.wrapper{
	width: 80%;
	/*border :2px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	/*border: 2px solid white;*/
	width: 18%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	/*border: 2px solid white;*/
	width: 70%;
	float: right;
	margin-top: 40px;
}
.menu ul{
    float: right;
}
.menu ul li{
	list-style: none;
	float: left;
	
}
.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    display: block;
    color: #FFFFFF;
    transition: .5s;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li:hover a{
	color: #0177BD;

}
/*Header end*/

/*Banner start*/
.banner{
background-image:url(../images/banner.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: left;
}
.banner-content{
	margin-top: 200px;
	margin-bottom: 100px;
	width: 50%;
	font-family: sans-serif;
}
.banner-content p:first-child{
    margin-bottom: 0;
    padding-bottom: 4px;
    font-size: 30px;
    color: white;
}
.banner-content h1{
    color: #0775B3;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}
.banner-content p:nth-last-child(2){
	margin-top: 0;
    font-size: 18px;
    color: white;
    line-height: 1.5;

}
.banner-content button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #5A5A5A;
    margin-top: 16px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.banner-content button span{
	background-color: blue;
    font-size: 20px;
    padding: 3px 5px;
    margin-left: 10px;
    border-radius: 50%;
    color: floralwhite;
}
/*Banner end*/

/*services start*/
.service {
    padding: 50px 0;
    background-color: #121B2C;
}
.cyber {
    width: 29%;
    padding: 11px 23px;
    float: left;
    border-right: 1px dotted dimgray;
}
.title {
    overflow: hidden;
    margin-bottom: 5px;
}
.icon {
    width: 25%;
    float: left;
}
#img1{
	width: 100%;

}
#img2{
	width: 100%;
    height: 80px;
}
.icon-content{
    width: 65%;

    float: left
}
.icon-content h1{
	font-weight: normal;
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top: 0px;
    margin: 12px;
    margin-left: 4px;
}
.icon-content h2{
	font-weight: normal;
    color: #0178BA;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 22px;
    padding-left: 2px;
    margin-top: -10px;
}
.content {
	font-size: 18px;
    line-height: 1.3;
    margin-top: 10px;
    padding-left: 8px;
}
.content p{
color: white;
} 
.cyber:last-child{
	border-right: 0;
	margin-right: 0;
}
/*services end*/

/*contact starts*/

.contact {
    background-color: #040811;
    overflow: hidden;
    padding-bottom: 41px;
}
.info {
	width: 31%;
    float: left;
    padding-left: 43px;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 32px;
}
.info h2{
    font-weight: normal;
    color: white;
}
.info h2 span{
    color: #0275B8;
}
address{
	color: white;
}
.testimonial{
	width: 25%;
    float: left;
    margin-left: -33px;
    margin-top: 34px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.bg-modal{
	width: 97%;
    background-color: #0C1019;
    opacity: 1;
    padding: 2px 15px;
    margin-bottom: 10px;
}

.bg-modal h2{
    color: white;
    font-weight: normal;
}
.bg-modal h2 span{
	color: #0275B8;
}
.bg-modal p{
	color: white;
	font-weight: normal;
}
.testimonial address{
	margin-left: 10px;
}
.add {
	width: 36%;
    float: right;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 24px;
}
#img4 {
	float: left;
    height: 183px;
}
.combine{
    width: 68%;
    float: right;
}
.add h2{
    color: white;
    margin-bottom: 0px;
    font-weight: normal;
}
.add h1{
    color: #0275B8;
    margin-top: 3px;
    margin-bottom: 14px;
}
.add-model {
	width: 55%;
    min-height: 10px;
    background-color: white;
    border-radius: 12px;
}
.new-wrapper {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
#img5 {
    float: left;
    margin: 5px 0px 0px 5px;
}
.ph1-wrap{
    margin-bottom: -13px;
    padding-bottom: 0px;
    padding-top: 6px;
    float: right;
}
.ph1-wrap p{
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 73%;
    margin-left: -32px;
    padding-right: 2px;
 }
.ph1-wrap h1{
    font-size: 21px;
    font-family: sans-serif;
    color: black;
    margin-left: -42px;
    padding-top: 0px;
    text-align: center;
    margin-top: 0;
}
/*contact ends*/

/*footer starts*/
.footer {
    background-color: #121B2C;
    padding-bottom: 50px;
}
nav{

}
.navs a:link{
color:white;
}
.navs a:hover{
color: blue;
}
.navs a:active{
color: red;
}
.navs a:visited{
color: white;
}
.navs{
    width: 53%;
    margin-left: 84px;
    margin-top: 35px;
    float: left;
}
.navs a{
	text-decoration: none;
}
.navs span{
	color: white;
}
.images1{
    float: left;
    display: block;
    margin-top: 30px;
    margin-left: 42px;
}
.images2{
    float: right;
    margin-top: 17px;
    margin-right: 43px;
}
.navs p{
	color: white;
}
/*Contact ends*/
